@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Bold.woff2') format('woff2'),
        url('../font/RobotoSlab-Bold.woff') format('woff'),
        url('../font/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Medium.woff2') format('woff2'),
        url('../font/RobotoSlab-Medium.woff') format('woff'),
        url('../font/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Regular.woff2') format('woff2'),
        url('../font/RobotoSlab-Regular.woff') format('woff'),
        url('../font/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Arial";

}
html{
    font-size: 0.8px;
}
svg{
    fill: #fff;
    transition: 0.1s;
}
svg:hover{
    fill: #fd8300;;
}
.wrapper{
    max-width: 960rem;
    margin: 0 auto;
    padding: 0 15rem;
}
ul{
    list-style:none;
}
a {
    text-decoration: none;
}
.flex{
    display: flex;
    justify-content: space-between;
    
}
.items_center{
    display: flex;
    align-items: center;
}
header{
    padding-top:55rem;
    
}

.top-header{
    z-index: 15;
    background-color: #1f1f56;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.cancel img{
    width: 35px;
}
.black1{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(1 , 8 ,44 , 0.5);
    backdrop-filter: blur(4px);
    z-index: 5;

}


.cancel{
    position: absolute;
    top: 0;
    right: 0;
}
.main-nav{
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #1f1f56;
    width: 80vw;
    height: 100vh;
    padding: 30px 0;
    transition: .5s;
}
.main-nav li{
    padding: 3px 15px;
}
.main-nav a{
    display: block;
}
.top-header ul{
    gap: 26rem;
}

.top-header  a{
    padding: 14rem 0 ;
    font-size: 14rem;
    letter-spacing: 2rem;
    line-height: 1.9em;
    color: #b1b1d2;
    font-family: "Arial";
}
.top-header li:hover > a{
    color:#fd8300;
    transition: .5s;
}
.list_social svg{
    fill: #fff;
    text-align: left;
}
.list_social li:hover svg{
    fill:#fd8300;
    transition: .5;
}
.picture-nav{
    gap:23rem;
    padding: 14rem 0;
}

.head-submenu, .head-subsubmenu{
    display: none;
    position: absolute;
    min-width: 125px;
}
.head-subsubmenu{
    padding-top: 20px;
}
.head-submenu a, .head-subsubmenu a{
    background-color: #e4e4ec;
    font-size: 12px; 
}

.head-submenu li:not(:first-child):not(:last-child) {
    border-top: 1px solid #d1d1dc;
}

.head-submenu >li>a:after{
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-right: 1rem solid #000;
    border-bottom: 1rem solid #000;
    position: absolute;
    right: 9rem;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg) ;
}
.head-submenu li:hover a:after{
    transition: .1s;
    border-color: #fff;
    transform: translateY(-50%) rotate(45deg);
}
.head-submenu > li:first-child > a{
    border-radius: 3px 3px 0 0;   
}
.head-submenu > li:nth-child(4) > a{
    border-radius: 0 0 3px 3px;   
}
.head-subsubmenu > li:first-child > a{
    border-radius: 3px 3px 0 0;   
}
.head-subsubmenu > li:nth-child(4)> a{
    border-radius: 0 0 3px 3px;   
}
.head-submenu  a{ 
    display: block;
    padding: 8px;
    color: #25252c;
    line-height: normal;
}
.head-submenu li:hover > a,
.head-subsubmenu li:hover > a{
    color: #fff;
    background-color: #fd8300;
    transition: .3s;
}

#cancelsub, #cancelsubsub{
    position: absolute;
    top: 0;
    right: -10px;
}
.burger span{
    display: block;
    height: 3px;
    margin-bottom: 4px;
    background-color: #ffffff;
    border-radius: 2px;
}
.burger span{
    width: 30px;
}
.shadow{
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}

.main-header{
    padding: 29rem 15rem;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

}
.logo{
    width: 100%;
    text-align: center;
}
.informatik{
    display: flex;
    flex-wrap: nowrap;
}
.lineri{
    gap: 20rem;
}
.social-madia {
    border-left: none;
    padding-left: 0;
}

.linephone::before {
    content: "";
    position: absolute;
    height: 50px;
    width: 1px;
    background-color: #e4e4ec;
}
.phone_picture{
    padding-right: 5px;
}
.email-pic{
    padding-right: 5px;
}
.skype_pic{
    padding-right: 5px;
}
.phone a{
    font-size: 15rem;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    display: inline-block;
    transition: .5s;
}
.phone_text {
    font-size: 15rem;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    display: inline-block;
    transition: .5s;
}
.phone_text1 {
    font-size: 15rem;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    display: inline-block;
    transition: .5s;
}
.phone1 a{
    font-size: 15rem;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    display: inline-block;
    transition: .5s;
}
.phone_text1:hover{
    transform: scale(0.9);
    color: #666666;
}
.phone_text:hover{
    transform: scale(0.9);
    color: #666666;
}
.left a{
    padding-left: 26px;
}
.left a:hover{
    transform: scale(0.9);
    color: #666666;
}
.email_span{
    font-size: 14rem;
    line-height: 1.5em;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
    display: inline-block;
    transition: 0.5s;
}
.email_span:hover{
    color: #f7aa6a;
    transform: scale(0.95);
}
.skype_span{
    font-size: 14rem;
    line-height: 1.5em;
    color: #25252c;
    font-family: "Arial";
    display: inline-block;
    transition: 0.5s;
}
.skype_span:hover{
    color: #f7aa6a;
    transform: scale(0.95);
}
.text{
    width: 100%;
    text-align: center;
}

.text a{
    padding: 20.5rem 18rem;
    border-radius: 25rem;
    background-color: #ffffff;
    border: 2rem solid #fd8300;
    font-size: 16rem;
    line-height: 1.5rem;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    transition: .5s;
    display: inline-block;
}
.text a:hover{
    transform: scale(1.05);
}
.bot-head{
    padding: 59rem 0 43rem 0;

    background:url(../img/main-bg.png) no-repeat center/cover; 

}
.bot-head h2{
    font-size: 30rem;
    letter-spacing: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
}
.bot-head p{
    padding: 12rem 0 16rem 0;

    font-size: 14rem;
    line-height: 1.7em;
    color: #ffffff;
    font-family: "Arial";
}
.forcenter{
    text-align: center;
}

.price-number {
    font-size: 40rem;       
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.price-grn {
    font-size: 24rem;       
    line-height: 1em;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}
.main_text h1{
    padding-bottom: 22px;
    font-size: 24rem;
    line-height: 1em;
    color: #24242b;
    font-family: "Roboto Slab";
}
.main_text p{
    font-size: 14rem;
    line-height: 1.7em;
    color: #666666;
    font-family: "Arial";
}
.main-text h1{
    font-size: 30rem;
    color: #24242b;
    font-family: "Roboto Slab";
    padding-bottom: 10rem;
    
}
.main_text a{
    font-size: 14rem;
    line-height: 1.7em;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    padding-top:17rem;
    max-width: 669rem;
    display: inline-block;
    transition: .5s;
}
.main_text a:hover{
    transform: scale(1.1);
    color: #f7aa6a;

}
.tables{
    overflow-x: auto; 
    max-width: 100%;
}
table {
    border-radius: 3px;
    overflow: hidden;
    min-width: 960px;
    width: 100%;
    border-collapse: collapse; 
    margin-top: 27px; 
}
thead tr {
    border-radius: 3px;
}
tbody th, td {
    padding: 7px 20px;
    text-align: center;
}
tbody td + td{
    border-left: 1px solid #cecedd; 
}
tbody tr + tr{
    border-top: 1px solid #cecedd;

}

td:first-child {
    text-align: left; 
}
th{
    border:1px solid #264568;
}

td:last-child {
    text-align: right; 
}
.th1{

    text-align: left; 
}
.th3 {
    text-align: right; 
    padding-left: 20px;
}
.tr1 th{
    padding: 7px 20px;
    background-color: #1f1f56;
    font-size: 14rem;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
}
.tr2,
.tr3,
.tr4,
.tr5,
.tr6,
.tr7{
    background-color: #e4e4ec;
    font-size: 14rem;
    line-height: 1.7em;
    color: #666666;
    font-family: "Arial";
}
table tbody tr:hover {
    background-color: #fd8300;
    transition: .3s;
    color: #fff;

}

main{
    padding:29rem 0 47rem ;
}
.main1{
    flex-wrap: wrap-reverse;
    gap:28rem;
}
.main-text p{
    max-width: 669rem;
    font-size: 14rem;
    line-height: 1.7em;
    color: #666666;
    font-family: "Arial";
    padding-bottom: 11rem;
    font-weight: 400;
}
.main-text a{
    font-size: 14rem;
    line-height: 1.7em;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    padding-top:17rem;
    max-width: 669rem;
    display: inline-block;
    transition: .5s;
}
.main-text a:hover{
    transform: scale(1.1);
    color: #f7aa6a;

}
.main_contact h1{
    font-size: 24rem;
    line-height: 1em;
    color: #24242b;
    font-family: "Roboto Slab";
    padding-bottom: 28rem;
}
.under_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.office h3,
.details h3,
.advice h3 {
    font-size: 14px;
    line-height: 1.7em;
    color: #24242b;
    font-family: "Roboto Slab";
    padding-bottom: 9px;
}

.office p, 
.advice p, 
.details p{
    font-size: 14px;
    color: #666666;
    font-family: "Arial";
}
.p{
    padding-bottom: 12px;
}
.p1{
    padding-bottom: 6px;
    transition: 0.5s;
}
.num{
    font-size: 18px;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    transition: .5s;
}
.u{
    transition: 0.5s;
}
.ema{
    font-size: 16px;
    line-height: 1.5em;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
    transition: .5s;
}
.hover:hover{
    transform: scale(1.05);
}

.first{
    padding-bottom: 19px;
}
.side-menu{
    width: 100%;
}
.side-menu p{
    border-radius: 3rem 3rem 0 0;
    font-size: 16rem;
    line-height: 1.5em;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
    background-color: #1f1f56;
    min-width: 219rem;
    padding: 11rem 0 10rem 15rem;
}
.line {
    border: none;             
    height: 1rem;              
    background-color: #e4e4ec;
    margin-top: 34rem;
}
.side-menu nav > ul > li + li{
    border-top: 1rem solid #d1d1dc;

}

.side-menu a{
    background-color: #e4e4ec;
    padding: 11rem 0 10rem 15rem;
    display: block;
    font-size: 14rem;
    line-height: 1.9em;
    color: #25252c;
    font-family: "Arial";
    position: relative;
}
.border a{
    border-radius: 0 0 3rem 3rem;

}
.sub_menu a{
    padding-left: 30rem;
}
.sub_menu{
    max-height: 0;
    visibility: hidden;
}
.menu li:hover>.sub_menu{
    transition: 0.5;
    max-height: 1000rem;
    visibility: visible;
}
.menu li:hover>a{
    background-color: #fd8300;
    color: #fff;

}
.sub_menu li:hover> a{
    color: #666666;
    background-color: #cecedd;
}
.sub_menu a{
    font-size: 14rem;
    line-height: 1.9em;
    color: #666666;
    font-family: "Arial";
}
.menu{
    position: sticky;
}
    
.menu >li>a:after{
    content: "";
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-right: 1rem solid #000;
    border-bottom: 1rem solid #000;
    position: absolute;
    right: 15rem;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg) ;
}
.menu li:hover a:after{
    transition: .1s;
    border-color: #fff;
    transform: translateY(-50%) rotate(45deg);
}
.bot{
    padding-top: 27rem;
}

.houses{
    gap: 28rem;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}
.houses picture{
    display: block;
    width: 100%;
    overflow: hidden;
}
.houses img{
    width: 100%;
    object-fit: hidden;
    transition: 0.5s;
}
.houses a:hover picture  img {
    transform: scale(1.2);
}
.houses2 h2{

    padding: 34rem 0 24rem;
    font-size: 24rem;
    line-height: 1em;
    color: #24242b;
    font-family: "Roboto Slab";
}
.houses h3{
    font-size: 14rem;
    line-height: 1.7em;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
    position: relative;
    display: inline-block;
    padding-bottom: 3rem;
}
.email2{
    display: flex;
}
.skype2{
    display: flex;
}
.tel2{
    display: flex;
}
.houses h3:before{
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 0;
    bottom:7rem;
    height: 2rem;
    background-color: #1f1f56;
    transition: .5s;

}

.houses a:hover h3::before {
    width: 100%;
}
.houses p{
    font-size: 13rem;
    line-height: 1.4em;
    color: #9999a6;
    font-family: "Arial";
    text-decoration: none;
    position: relative;
}
.bot-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.main-forms{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 36rem;
    gap: 28px;
}
.map{
    position: relative;
    min-width: 466px;
    min-height: 295px;
    overflow: hidden;
}


iframe{
    width: 100%;
    height: calc( 100% + 72px);
    position: absolute;
    top: -85px;
    left: 0;
    border: none;
}

.forms h3{
    font-size: 14px;
    line-height: 1.7em;
    color: #24242b;
    font-family: "Roboto Slab";
    text-align: left;
    padding-bottom: 22px;
}
input {
    padding-left: 12rem;
    padding-right: 12rem;
    height: 40px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #c4c4d3;
    margin: 5px 0;
    font-family: "Arial";
    font-style: italic;
    background-color: transparent;

}
textarea {
    min-height: 105px;
    max-height: 250px;
    border-radius: 3px;
    border: 1px solid #c4c4d3;
    margin: 5px 0;
    font-size: 13px;
    font-style: italic;
    font-family: "Arial";
    resize: vertical;
    background-color: transparent;
}
.checkbox0{
    font-size: 13px;
    line-height: 1.6em;
    color: #666666;
    font-family: "Arial";
}
.checkbox0{
    display: flex;
    gap: 10px;
    align-items: center;
}
.checkbox0 input{
    position: relative;
    appearance: none;
    outline: none;
    width: 15px;
    height: 15px;
    margin: 0;
    border: 1px solid #c5c5d4;
    border-radius: 3px;
    z-index: 1;
    padding-right: 0;
}
.checkbox0 input:checked{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' fill='black'><path d='M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
}
.name{
    display: flex;
    gap: 10rem;
}
.lo{
    width: 100%;
}
.txt{
    width: 100%;
    padding: 15rem 0 0rem 15rem;

}
.main-contentforms{
    padding-bottom: 13px;
}
.button1{
    border: none;
    padding: 12px 30px;
    border-radius: 21px;
    background-color: #fd8300;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    transition: .5s;
    cursor: pointer;
}
.button1:hover{
    transform: scale(1.1);
}
.one{
    display: flex;
    justify-content: flex-start;
    gap: 30px
    
}
.top-footer{
    padding: 41rem 0 30rem ;
    background-color: #ededf5;

}
.company_news a{
    font-size: 14rem;
    color: #666666;
    font-family: "Arial";
    text-decoration: none;
    position: relative;
    padding-bottom: 13rem;
    display: block;
}
.company_news a:hover{
    transition: .5;
    color: #fd8300;
}
.company_news a:before{
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 0;
    bottom:7rem;
    height: 1rem;
    background-color: #fd8300;
    transition: .5s;

}
.company_info a{
    font-size: 14rem;
    color: #666666;
    font-family: "Arial";
    text-decoration: none;
    position: relative;
    padding-bottom: 13rem;
    display: block;
}
.company_info a:hover{
    transition: .5s;
    color: #fd8300;
}
.company_info a:before{
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 0;
    bottom:7rem;
    height: 1rem;
    background-color: #fd8300;
    transition: .5s;
}.company_info a:hover:before{
    width: 100%;
}
.company_news a:hover:before{
    width: 100%;
}
.bot-footer{
    background-color: #dcdce6;
}
.bot-footer p{
    font-size: 13rem;
    line-height: 1.4em;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
    padding: 17rem 0 15rem ;
}
.popap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;        
    display: none;      
    justify-content: center;
    align-items: center;
    z-index: 10;

}
.popap-info {
    position: relative;
    max-width: 360px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    z-index: 9;
}
.popap-info input {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: 1px solid #c5c5d4;
    font-size: 13px;
    line-height: 1.6em;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
}
.title{
    font-size: 24px;
    line-height: 1em;
    color: #24242b;
    font-weight: 400;
    font-family: "Roboto Slab";
    padding-bottom: 20px;
}
.popap-info button {
    border: none;
    width: 100%;
    height: 43px;
    border-radius: 22px;
    background-color: #fd8300;
    font-size: 14px;
    line-height: 1.7em;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    transition: .5s;
}
.popap-info button:hover{
    transform: scale(1.05);
}
.close img{
    position: absolute;
    width: 16px;
    top: 14px;
    right: 14px;
    font-size: 28px;
    cursor: pointer;
    color: #999;
}
.box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;   
    height: auto;        
    z-index: 10;
}

.box img {
    width: 100%;         /* займає всю ширину .box */
    height: auto;       
    display: block;
    object-fit: contain;
}
.img-wrapper {
    position: relative;
    display: inline-block;
    min-width: 350px;
}




.cancel-box {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
    font-size: 24px;
    color: white;
    background: rgba(0,0,0,0.6);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.php {
    padding: 20px 30px;
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-family: 'Roboto Slab';
    background-color: #f7f7f7;
    border-radius: 12px;


    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    margin-bottom: 30px;
}

.php h2 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #24242b;
}


.php2 {
    padding: 10px 0;
}

.php2 p {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
}


.php2 p b {
    color: #222222; 
}
.MAIN2 {
    
    padding: 40px ;
}
.php a {
    font-size: 14rem;
    line-height: 1.7em;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    padding-top: 17rem;
    max-width: 669rem;
    display: inline-block;
    transition: .5s;
}

.php a:hover {
    transform: scale(1.1);
    transform: translateY(-2px);
}




@media screen and (min-width: 360px){
    .phone a , p{
        font-size: 18rem;
    }
    .phone img {
        width: 16px;
        height: 16px;
    }
    .phone_text{
        font-size: 18rem;
    }
    .email_span{
        font-size: 16rem;
    }
    .skype_span{
        font-size: 16rem;
    }
    
}


@media screen and (min-width: 515px) {
    .text{
        width: auto;
        text-align: right;
    }
    
}

@media screen and (max-width: 515px) {
    .button1{
        width: auto;
    }
    .one{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 649px) {
    
    .under_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .office{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .advice{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .burger {
        margin-left: auto;
    }
    
    .main_contact h1 {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 360px){
    .lineri{
        gap: 10px;
    }
    
    .under_container{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 545px) {
    .one{
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width: 650px) {
    .black1,
    .burger,
    .cancel{
        display: none;
    }
    .side-menu{
        max-width: 220rem;
    
    }
    .main-nav{
        position: static;
        display: flex;
        width: auto;
        height: auto;
        padding: 0;
    }
    .main-nav li{
        position: relative;
        padding: 0;
    }
    .head-submenu::before{
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        left: 0;
        height: 5px;
        width: 100%;
    }
    .main-nav >li:hover > .head-submenu {
        display: block;
        top: calc(100% + 5px);
    }
    .head-submenu > li {
        position: relative;
    }
    .head-submenu >li:hover > .head-subsubmenu{
        display: block;
        top: -20px;
        left: 100%;
        padding-left: 5px;
    }
    #cancelsub, #cancelsubsub{
        display: none;
    }
    .houses{
        grid-template-columns: repeat(4, 1fr);

    }
    .houses1{
        grid-template-columns: repeat(3, 1fr);

    }
    .bot-info{
        grid-template-columns: repeat(4, 1fr);
        text-align: left;
    }
    .main1{
        flex-wrap: nowrap;
    }
    
}
@media screen and (max-width: 649px) {
    .head-submenu, 
    .head-subsubmenu {
        position: static; 
        display: none;    
        width: 100%;
        background-color: #2a2a66; 
        padding: 0;
        box-shadow: none;
        padding-top:15px;
    }
    .head-submenu a, 
    .head-subsubmenu a {
        background-color: transparent;
        color: #b1b1d2;
        padding: 12px 25px; 
        font-size: 12px;
    }
    .head-submenu > li > a:after{
        content: none !important;
    }
    .cancelsubsub img,
    .cancelsub img {
        width: 25px !important; 
        height: auto;
    }
    .linephone{
        display: none;
    }
    
}

@media screen and (max-width: 650px) {
    .left a {
        padding-left: 25px;
    }
}
@media screen and (min-width: 737px) {
    .logo{
        margin: 0;
        width: auto;
        text-align: right;
    }
    
    
}
@media screen and (max-width: 768px) {
    .main-forms{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .map{
        width: 100%;
        min-width: 0;
    }
    .button1{
        width: 50%;
    }
}
@media screen and (max-width: 1024px){
    .one{
        flex-wrap: wrap-reverse;
        justify-content:center ;
        gap: 15px;
    }

}
@media screen and (min-width: 1024px) {
    
    html{
        font-size: 1px;
        
    }
    .main-header{
        justify-content: space-between;
    }
    .tables{
        overflow-x: hidden;
        
    }
    table{
        min-width: 100%;
        width: 100%;
    }
    
}
@media screen and (min-width: 1440px) {
    html{
        font-size: 1.1px;
        
    }
    
}
@media screen and (min-width: 1920px) {
    html{
        font-size: 1.3px;
        
    }
    
}
@media screen and (min-width: 2200px) {
    html{
        font-size: 1.5px;

    }
    .logo img {
        width: 300px;
        height: auto;
    }
    .list_social svg,
    .phone img,
    .email-pic img,
    .skype_pic img,
    .phone_picture {
        width: 23px;
        height: 23px;
    }    
    .phone1 img,
    .email img,
    .skype img {
        width: 23px;
        height: 23px;
    }
    .left a{
        padding-left: 35px;
    }
    .head-submenu a, .head-subsubmenu a {
        font-size: 17px;
    }
    .one{
        display: flex;
        gap: 60px
        
    }
    .button1 {

        width: 40%;
    }
}
@media screen and (max-width: 2200px) {

    .one{
        display: flex;
    }

}