@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Bold.woff2') format('woff2'),
        url('../font/RobotoSlab-Bold.woff') format('woff'),
        url('../font/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Medium.woff2') format('woff2'),
        url('../font/RobotoSlab-Medium.woff') format('woff'),
        url('../font/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Regular.woff2') format('woff2'),
        url('../font/RobotoSlab-Regular.woff') format('woff'),
        url('../font/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Arial";

}
svg{
    fill: #fff;
    transition: 0.1s;
}
svg:hover{
    fill: #fd8300;;
}
.wrapper{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}
ul{
    list-style:none;
}
a {
    text-decoration: none;
}
.flex{
    display: flex;
    justify-content: space-between;
    
}
.items_center{
    align-items: center;
}
header{
    padding-top:55px;

}
.top-header{
    z-index: 10;
    padding: 14px 0 ;
    background-color: #1f1f56;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.top-header ul{
    gap: 26px;
}
.top-header ul a{
    
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.9em;
    color: #b1b1d2;
    font-family: "Arial";
}
.top-header li > a:hover{
    color:#fd8300;
}
.list_social svg{
    fill: #fff;
}
.list_social li:hover svg{
    fill:#fd8300;
    transition: .5;
}
.picture-nav{
    gap:23px;
}
.main-header{
    padding: 29px 0;
}
.social-madia {
    border-left:  solid #e4e4ec;
    padding-left: 35px;
}

.phone a{
    font-size: 18px;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    display: inline-block;
    transition: .5s;
}
.phone_text{
    font-size: 18px;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    display: inline-block;
    transition: .5s;
}
.phone_text:hover{
    transform: scale(0.9);
    color: #666666;
}

.left a{
    padding-left: 22px;
    
}
.left a:hover{
    transform: scale(0.9);
    color: #666666;
}
.email_span{
    font-size: 16px;
    line-height: 1.5em;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
    display: inline-block;
    transition: 0.5s;
}
.email_span:hover{
    color: #f7aa6a;
    transform: scale(0.95);
}
.skype_span{
    font-size: 16px;
    line-height: 1.5em;
    color: #25252c;
    font-family: "Arial";
    display: inline-block;
    transition: 0.5s;
}
.skype_span:hover{
    color: #f7aa6a;
    transform: scale(0.95);
}
.text{
    padding: 14px 27px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #fd8300;
}

.text a{
    font-size: 16px;
    line-height: 1.5px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    transition: .5s;
    display: inline-block;
}
.text a:hover{
    transform: scale(1.05);
}
.bot-head{
    padding: 59px 0 43px 0;

    background:url(../img/main-bg.png) no-repeat center/cover; 

}
.bot-head h2{
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
}
.bot-head p{
    padding: 12px 0 16px 0;

    font-size: 14px;
    line-height: 1.7em;
    color: #ffffff;
    font-family: "Arial";
}
.forcenter{
    text-align: center;
}

.price-number {
    font-size: 40px;       
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.price-grn {
    font-size: 24px;       
    line-height: 1em;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}


.main-text h1{
    font-size: 30px;
    color: #24242b;
    font-family: "Roboto Slab";
    padding-bottom: 10px;

}
main{
    padding:29px 0 47px ;
}
.main1{
    gap:28px;
}
.main-text p{
    max-width: 669px;
    font-size: 14px;
    line-height: 1.7em;
    color: #666666;
    font-family: "Arial";
    padding-bottom: 11px;
    font-weight: 400;
}
.main-text a{
    font-size: 14px;
    line-height: 1.7em;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    padding-top:17px;
    max-width: 669px;
    display: inline-block;
    transition: .5s;
}
.main-text a:hover{
    transform: scale(1.1);
    color: #f7aa6a;

}
.side-menu p{
    border-radius: 3px 3px 0 0;
    font-size: 16px;
    line-height: 1.5em;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
    background-color: #1f1f56;
    min-width: 219px;
    padding: 11px 0 10px 15px;
}
.line {
    border: none;             
    height: 1px;              
    background-color: #e4e4ec;
    margin-top: 34px;
}

.side-menu a{
    border-bottom: 1px solid #d1d1dc;
    background-color: #e4e4ec;
    padding: 11px 0 10px 15px;
    display: block;
    font-size: 14px;
    line-height: 1.9em;
    color: #25252c;
    font-family: "Arial";
    position: relative;
}
.border a{
    border-radius: 0 0 3px 3px;

}
.sub_menu a{
    padding-left: 30px;
}
.sub_menu{
    max-height: 0px;
    visibility: hidden;
}
.menu li:hover>.sub_menu{
    transition: 0.5;
    max-height: 1000px;
    visibility: visible;
}
.menu li:hover>a{
    background-color: #fd8300;
    color: #fff;

}
.sub_menu li:hover> a{
    color: #666666;
    background-color: #cecedd;
}
.sub_menu a{
    font-size: 14px;
    line-height: 1.9em;
    color: #666666;
    font-family: "Arial";
}
.menu{
    position: sticky;
}
    
.menu >li>a:after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg) ;
}
.menu li:hover a:after{
    transition: .1s;
    border-color: #fff;
    transform: translateY(-50%) rotate(45deg);
}
.houses{
    gap: 28px;

}
.houses2 h2{

    padding: 34px 0 24px;
    font-size: 24px;
    line-height: 1em;
    color: #24242b;
    font-family: "Roboto Slab";
}
.houses h3{
    font-size: 14px;
    line-height: 1.7em;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
}
.houses h3:before{
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 0;
    bottom:7px;
    height: 2px;
    background-color: #1f1f56;
    transition: .5s;

}
.houses h3:hover::before{
    width: 100%;
}
.houses p{
    font-size: 13px;
    line-height: 1.4em;
    color: #9999a6;
    font-family: "Arial";
    text-decoration: none;
    position: relative;
}
.top-footer{
    padding: 41px 0 30px ;
    background-color: #ededf5;
}
.company_news a{
    font-size: 14px;
    color: #666666;
    font-family: "Arial";
    text-decoration: none;
    position: relative;
    padding-bottom: 13px;
    display: block;
}
.company_news a:hover{
    transition: .5;
    color: #fd8300;
}
.company_news a:before{
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 0;
    bottom:7px;
    height: 1px;
    background-color: #fd8300;
    transition: .5s;

}
.company_info a{
    font-size: 14px;
    color: #666666;
    font-family: "Arial";
    text-decoration: none;
    position: relative;
    padding-bottom: 13px;
    display: block;
}
.company_info a:hover{
    transition: .5s;
    color: #fd8300;
}
.company_info a:before{
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 0;
    bottom:7px;
    height: 1px;
    background-color: #fd8300;
    transition: .5s;
}.company_info a:hover:before{
    width: 100%;
}
.company_news a:hover:before{
    width: 100%;
}
.bot-footer{
    background-color: #dcdce6;
}
.bot-footer p{
    font-size: 13px;
    line-height: 1.4em;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
    padding: 17px 0 15px ;
}