@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Bold.woff2') format('woff2'),
        url('../font/RobotoSlab-Bold.woff') format('woff'),
        url('../font/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Medium.woff2') format('woff2'),
        url('../font/RobotoSlab-Medium.woff') format('woff'),
        url('../font/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Regular.woff2') format('woff2'),
        url('../font/RobotoSlab-Regular.woff') format('woff'),
        url('../font/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Arial";

}
html{
    font-size: 0.8px;
}
svg{
    fill: #fff;
    transition: 0.1s;
}
svg:hover{
    fill: #fd8300;;
}
.wrapper{
    max-width: 960rem;
    margin: 0 auto;
    padding: 0 15rem;
}
ul{
    list-style:none;
}
a {
    text-decoration: none;
}
.flex{
    display: flex;
    justify-content: space-between;
    
}
.items_center{
    align-items: center;
}
header{
    padding-top:55rem;
    
}
.top-header{
    z-index: 10;
    padding: 14rem 0 ;
    background-color: #1f1f56;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.cancel img{
    width: 35px;
}
.black1{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(1 , 8 ,44 , 0.5);
    backdrop-filter: blur(4px);
    z-index: 5;

}
.cancel{
    position: absolute;
    top: 0;
    right: 0;
}
.main-nav{
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #1f1f56;
    width: 80vw;
    height: 100vh;
    padding: 30px 0;
    transition: .5s;
}
.main-nav li{
    padding: 10px 15px;
}
.main-nav a{
    display: block;
}
.top-header ul{
    gap: 26rem;
}
.top-header ul a{
    
    font-size: 14rem;
    letter-spacing: 2rem;
    line-height: 1.9em;
    color: #b1b1d2;
    font-family: "Arial";
}
.top-header li > a:hover{
    color:#fd8300;
}
.list_social svg{
    fill: #fff;
    text-align: left;
}
.list_social li:hover svg{
    fill:#fd8300;
    transition: .5;
}
.picture-nav{
    gap:23rem;
}
.burger span{
    display: block;
    height: 3px;
    margin-bottom: 4px;
    background-color: #ffffff;
    border-radius: 2px;
}
.burger span{
    width: 30px;
}

.main-header{
    padding: 29rem 0;
    flex-wrap: wrap;
    gap: 10px;
}
.logo{
    width: 100%;
    text-align: center;
}
.informatik{
    display: flex;
    flex-wrap: nowrap;
}
.social-madia {
    margin-right: 15px;
    border-left: none;
    padding-left: 0;
}
.phone{
    margin-left: 15px;
}
.phone a{
    font-size: 15rem;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    display: inline-block;
    transition: .5s;
}
.phone_text {
    font-size: 15rem;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    display: inline-block;
    transition: .5s;
}
.phone_text1 {
    font-size: 15rem;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    display: inline-block;
    transition: .5s;
}
.phone1 a{
    font-size: 15rem;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    display: inline-block;
    transition: .5s;
}
.phone_text1:hover{
    transform: scale(0.9);
    color: #666666;
}
.phone_text:hover{
    transform: scale(0.9);
    color: #666666;
}
.left a{
    padding-left: 19rem;
}
.left a:hover{
    transform: scale(0.9);
    color: #666666;
}
.email_span{
    font-size: 15rem;
    line-height: 1.5em;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
    display: inline-block;
    transition: 0.5s;
}
.email_span:hover{
    color: #f7aa6a;
    transform: scale(0.95);
}
.skype_span{
    font-size: 15rem;
    line-height: 1.5em;
    color: #25252c;
    font-family: "Arial";
    display: inline-block;
    transition: 0.5s;
}
.skype_span:hover{
    color: #f7aa6a;
    transform: scale(0.95);
}
.text{
    width: 100%;
    text-align: center;
}

.text a{
    padding: 20.5rem 18rem;
    border-radius: 25rem;
    background-color: #ffffff;
    border: 2rem solid #fd8300;
    font-size: 16rem;
    line-height: 1.5rem;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    transition: .5s;
    display: inline-block;
}
.text a:hover{
    transform: scale(1.05);
}
.bot-head{
    padding: 59rem 0 43rem 0;

    background:url(../img/main-bg.png) no-repeat center/cover; 

}
.bot-head h2{
    font-size: 30rem;
    letter-spacing: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
}
.bot-head p{
    padding: 12rem 0 16rem 0;

    font-size: 14rem;
    line-height: 1.7em;
    color: #ffffff;
    font-family: "Arial";
}
.forcenter{
    text-align: center;
}

.price-number {
    font-size: 40rem;       
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.price-grn {
    font-size: 24rem;       
    line-height: 1em;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}


.main-text h1{
    font-size: 30rem;
    color: #24242b;
    font-family: "Roboto Slab";
    padding-bottom: 10rem;
    
}
main{
    padding:29rem 0 47rem ;
}
.main1{
    flex-wrap: wrap-reverse;
    gap:28rem;
}
.main-text p{
    max-width: 669rem;
    font-size: 14rem;
    line-height: 1.7em;
    color: #666666;
    font-family: "Arial";
    padding-bottom: 11rem;
    font-weight: 400;
}
.main-text a{
    font-size: 14rem;
    line-height: 1.7em;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    padding-top:17rem;
    max-width: 669rem;
    display: inline-block;
    transition: .5s;
}
.main-text a:hover{
    transform: scale(1.1);
    color: #f7aa6a;

}
.side-menu{
    width: 100%;
}
.side-menu p{
    border-radius: 3rem 3rem 0 0;
    font-size: 16rem;
    line-height: 1.5em;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
    background-color: #1f1f56;
    min-width: 219rem;
    padding: 11rem 0 10rem 15rem;
}
.line {
    border: none;             
    height: 1rem;              
    background-color: #e4e4ec;
    margin-top: 34rem;
}
.side-menu li + li{
    border-top: 1rem solid #d1d1dc;

}
.side-menu a{
    background-color: #e4e4ec;
    padding: 11rem 0 10rem 15rem;
    display: block;
    font-size: 14rem;
    line-height: 1.9em;
    color: #25252c;
    font-family: "Arial";
    position: relative;
}
.border a{
    border-radius: 0 0 3rem 3rem;

}
.sub_menu a{
    padding-left: 30rem;
}
.sub_menu{
    max-height: 0;
    visibility: hidden;
}
.menu li:hover>.sub_menu{
    transition: 0.5;
    max-height: 1000rem;
    visibility: visible;
}
.menu li:hover>a{
    background-color: #fd8300;
    color: #fff;

}
.sub_menu li:hover> a{
    color: #666666;
    background-color: #cecedd;
}
.sub_menu a{
    font-size: 14rem;
    line-height: 1.9em;
    color: #666666;
    font-family: "Arial";
}
.menu{
    position: sticky;
}
    
.menu >li>a:after{
    content: "";
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-right: 1rem solid #000;
    border-bottom: 1rem solid #000;
    position: absolute;
    right: 15rem;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg) ;
}
.menu li:hover a:after{
    transition: .1s;
    border-color: #fff;
    transform: translateY(-50%) rotate(45deg);
}

.houses{
    gap: 28rem;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}
.houses picture{
    display: block;
    width: 100%;
    overflow: hidden;
}
.houses img{
    width: 100%;
    object-fit: hidden;
    transition: 0.5s;
}
.houses a:hover picture  img {
    transform: scale(1.2);
}
.houses2 h2{

    padding: 34rem 0 24rem;
    font-size: 24rem;
    line-height: 1em;
    color: #24242b;
    font-family: "Roboto Slab";
}
.houses h3{
    font-size: 14rem;
    line-height: 1.7em;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
    position: relative;
    display: inline-block;
    padding-bottom: 3rem;
}
.houses h3:before{
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 0;
    bottom:7rem;
    height: 2rem;
    background-color: #1f1f56;
    transition: .5s;

}

.houses a:hover h3::before {
    width: 100%;
}
.houses p{
    font-size: 13rem;
    line-height: 1.4em;
    color: #9999a6;
    font-family: "Arial";
    text-decoration: none;
    position: relative;
}
.bot-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.top-footer{
    padding: 41rem 0 30rem ;
    background-color: #ededf5;

}
.company_news a{
    font-size: 14rem;
    color: #666666;
    font-family: "Arial";
    text-decoration: none;
    position: relative;
    padding-bottom: 13rem;
    display: block;
}
.company_news a:hover{
    transition: .5;
    color: #fd8300;
}
.company_news a:before{
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 0;
    bottom:7rem;
    height: 1rem;
    background-color: #fd8300;
    transition: .5s;

}
.company_info a{
    font-size: 14rem;
    color: #666666;
    font-family: "Arial";
    text-decoration: none;
    position: relative;
    padding-bottom: 13rem;
    display: block;
}
.company_info a:hover{
    transition: .5s;
    color: #fd8300;
}
.company_info a:before{
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 0;
    bottom:7rem;
    height: 1rem;
    background-color: #fd8300;
    transition: .5s;
}.company_info a:hover:before{
    width: 100%;
}
.company_news a:hover:before{
    width: 100%;
}
.bot-footer{
    background-color: #dcdce6;
}
.bot-footer p{
    font-size: 13rem;
    line-height: 1.4em;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
    padding: 17rem 0 15rem ;
}
@media screen and (min-width: 360px){
    .phone a , p{
        font-size: 18rem;
    }
    .phone img {
        width: 16px;
        height: 16px;
    }
    .phone_text{
        font-size: 18rem;
    }
    .email_span{
        font-size: 16rem;
    }
    .skype_span{
        font-size: 16rem;
    }

}
@media screen and (min-width: 650px) {
    .black1,
    .burger,
    .cancel{
        display: none;
    }
    .side-menu{
        max-width: 220rem;
    
    }
    .main-nav{
        position: static;
        display: flex;
        width: auto;
        height: auto;
        padding: 0;
    }
    .main-nav li{
        padding: 0;
    }
    .houses{
        grid-template-columns: repeat(3, 1fr);

    }
    .bot-info{
        grid-template-columns: repeat(4, 1fr);
        text-align: left;
    }
    .logo{
        width: auto;
        text-align: right;
    }
    .text{
        width: auto;
        text-align: right;
    }
    .main1{
        flex-wrap: nowrap;
    }
    
}
@media screen and (min-width: 1024px) {
    html{
        font-size: 1px;
        
    }
    
}
@media screen and (min-width: 1440px) {
    html{
        font-size: 1.1px;

    }
    
}
@media screen and (min-width: 1920px) {
    html{
        font-size: 1.3px;

    }
    
}
@media screen and (min-width: 2200px) {
    html{
        font-size: 1.5px;

    }
    
}